@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    /* <img class="img_teste" src="images/bg-curvy-desktop.svg" alt=""> */
}

#project_container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: hsl(217, 28%, 15%);
}

.img_teste {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
}

#menu_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 45px 0 45px;
}

#logo {
    width: 135px;
    height: 50px;
}

.btn_menu {
    padding: 0 25px;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background-color: transparent;
}

.btn_menu:hover {
    text-decoration: underline;
}

#accessible_fylo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.img_intro {
    z-index: 1;
    background-color: transparent;
}

#title_button {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 100px;
    z-index: 1;
    background: hsl(218, 28%, 13%);
}

#title {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    background: hsl(218, 28%, 13%);
    z-index: 1;
}

#paragraph {
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
    background: hsl(218, 28%, 13%);
    z-index: 1;
}

#button {
    width:  212px;
    height: 45px;
    background-color: hsl(198, 60%, 50%);
    border: 0 solid;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
}

#button:hover {
    background-color: hsl(176, 68%, 64%);
}

#icons_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
    background: hsl(218, 28%, 13%);
}

.card {
    display: flex;
    flex-direction: column;
    background: hsl(218, 28%, 13%);
}

.icons_content {
    text-align: center;
    margin: 0 0 90px 0px;
    background: inherit;
}

.title_paragraph {
    width: 390px;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    background: inherit;

}

.icon_title {
    margin-top: 10px;
    font-weight: bold;
    background: inherit;

}

.icon_paragraph {
    margin-top: 15px;
    background: inherit;

}

#productive_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    background: hsl(218, 28%, 13%);
    gap: 50px;
    padding-bottom: 160px;
}

#quote_icon {
    position: absolute;
    left: 130px;
    z-index: -1;
    top: -30px;
}

#productive_container img{
    background: inherit;
}

#title_paragraph_product {
    width: 510px;
    height: 220px;
    text-align: justify;
    margin: 0;
}

.title_product{
    background: hsl(218, 28%, 13%);
}

.paragraph_product {
    padding-top: 15px;
    line-height: 1.7;
    background: hsl(218, 28%, 13%);
}

.btn_product {
    color: hsl(198, 60%, 50%);
    font-family: 'Open Sans', sans-serif;
    line-height: 3.5;
    background: hsl(218, 28%, 13%);
}

.btn_product:hover {
    color: hsl(0, 0%, 100%);
}

.img_arrow_product {
    background: hsl(218, 28%, 13%);
}

#squared_comment {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 40px;
    z-index: 1;
    background: hsl(218, 28%, 13%);
    padding-bottom: 400px;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
}

.comment_content {
    width: 500px;
    background-color: hsl(217, 28%, 15%);
    border-radius: 10px;
}

#comment_person {
    padding: 40px 25px 25px 25px;
}

.img_comment {
    display: flex;
    margin-top: 30px;
}

.img_person {
    width: 36px;
    height: 36px;
    border-radius: 80px;
}

.about_you {
    margin-left: 15px;
}

.name_person {
    font-weight: bold;
    font-size: 16px;
}

.professional_person {
    font-size: 10px;
}

#window_email {
    width: 899px;
    height: 280px;
    background-color: aqua;
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 380px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(14, 14, 14);
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);
}

#email_container {
    padding: 50px 50px 0 50px;
}

#paragraph_email {
    margin-top: 20px;
    padding: 0 25px;
}

.title_paragraph_email {
    text-align: center;
}

#email_button_container {
    text-align: center;
    margin-top: 40px;
}

#button_content {
    width: 212px;
    height: 45px;
    background-color: hsl(198, 60%, 50%);
    border: 0 solid;
    border-radius: 50px;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

#email {
    border: 0px solid;
    width: 450px;
    height: 45px;
    border-radius: 50px;
    padding: 0 30px;    
}

#footer_container {
    width: 100%;
    height: 500px;
    background-color: hsl(216, 53%, 9%);

}

#contact_information {
    padding: 180px 100px 0 100px;
}

#information_container {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.location_content {
    width: 355px;
    display: flex;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
}

#location_img {
    width: 25px;
    height: 25px;
}

.text_location {
    margin-left: 15px;
}

.contact_container {
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
}

.contact_content {
    display: flex
}

#class_menu {
    display: flex;
    gap: 50px;
}

.btn_information {
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background-color: transparent;
    display: block;
}

.btn_information:hover {
    text-decoration: underline;
}

